<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login / Register</title>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>
      <div class="container">
         <div class="login-container">
            <!-- Left Column -->
            <div class="left-column" id="leftColumn">
               <div class="log-logo"><a href="/" class="logo text-color-w90">TutorConnect</a></div>
               <h1>Empowering Minds, Connecting Learners.</h1>
               <div><span style="font-size: 22px;">Your Gateway to Smarter Learning</span></div>
               <div class="spacer"></div>
            </div>
            <!-- Right Column -->
            <div class="right-column">
               <!---- LOGIN --->
               <div id="loginForm" class="form-container">
                  <h2 class="title">Registration Successful</h2>
                 
                  <button class="bg-orange" onclick="window.location.href='/login'">Back to Sign in</button>
                 
               </div>
               <!---- CREATE AN ACCOUNT --->
              
            </div>
         </div>
      </div>










   </body>
</html>