<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homepage</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="/views.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>


    <nav class="navbar bg-darkblue ">
        <div class="nav-container">
          <a href="#" class="logo">TutorConnect</a>
          <ul class="nav-links">
            <li><a href="#">Messages<div class="newmsg">1</div></a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="/">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            <li>Student Dashboard <a class="btn-change bg-gray5">Change</a></li>
           
          </ul>
        </div>
      </nav>
	   
	   <div class="home-container">




		   
      <div class="second-container">
		  <h3 class="title">Welcome back, {NAME}! </h3>


  <section class="hero img-7 border-radius">
    <div class="h-container">
      <div class="hero-text">
        <h1>Placeholder</h1>
        <p>Find peer tutors who match your goals and schedule.</p>
      </div>

    </div>
  </section>

<section>
    <div>
    <h2 class="title">Category</h2>
</div>

</section>


  <section class="features">
    <div class="h-container">
      <h2 class="title">Placeholder</h2>
      <div class="feature-grid">
        <div class="feature-card">
			<div class="feat-img img-1 bg-darkblue border-radius-top">
			
			</div>
			
    <div class="feature-card-desc">
          <h3>Placeholder</h3>
          <p>Learn from certified and experienced professionals.</p>
</div>
        </div>
        <div class="feature-card">
          <div class="feat-img img-2 border-radius-top">
          
          </div>
          
        <div class="feature-card-desc">
              <h3>Placeholder</h3>
              <p>Learn from certified and experienced professionals.</p>
    </div>
            </div>
            <div class="feature-card">
              <div class="feat-img img-3 bg-darkblue border-radius-top">
              
              </div>
              
            <div class="feature-card-desc">
                  <h3>Placeholder</h3>
                  <p>Learn from certified and experienced professionals.</p>
        </div>
                </div>
      </div>
    </div>
  </section>

<!----
          <div class="cardcontainer">
            <div class="card">
              <h3>Card Title 1</h3>
              <p>This is a description of the first card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 2</h3>
              <p>This is a description of the second card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 3</h3>
              <p>This is a description of the third card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 4</h3>
              <p>This is a description of the fourth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 5</h3>
              <p>This is a description of the fifth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 6</h3>
              <p>This is a description of the sixth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
          </div>
--->

      </div>




      
	   </div>
	   
	
   </body>
</html>