<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homepage</title>
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>
	   
	   <div class="home-container">
		   <nav class="navbar bg-darkblue ">
    <div class="nav-container">
      <a href="#" class="logo">TutorConnect</a>
      <ul class="nav-links">
      
        <li><a href="#contact">Student Dashboard (Change)</a></li>
        <li><a href="#contact">Logout</a></li>
      </ul>
    </div>
  </nav>
		   
      <div class="second-container">
		  <p>Welcome back, </p>



<!----
          <div class="cardcontainer">
            <div class="card">
              <h3>Card Title 1</h3>
              <p>This is a description of the first card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 2</h3>
              <p>This is a description of the second card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 3</h3>
              <p>This is a description of the third card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 4</h3>
              <p>This is a description of the fourth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 5</h3>
              <p>This is a description of the fifth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
            <div class="card">
              <h3>Card Title 6</h3>
              <p>This is a description of the sixth card. It includes some brief information.</p>
              <button>Read More</button>
            </div>
          </div>
--->

      </div>




      
	   </div>
	   
	
   </body>
</html>